<div class="container">
    
    <div>
        <h1 class="text">
            Astrologia Saturnina
        </h1>
    </div>  
    <img src="../../../assets//signo-de-simbolo-astrologico-de-virgo.png" alt="">
    <img src="../../../assets/simbolo-de-signo-astrologico-de-tauro.png" alt="">
    <img src="../../../assets/signo-de-leo.png" alt="">
    <img src="../../../assets/signo-de-aries.png" alt="">
    <img src="../../../assets/signo-de-capricornio.png" alt="">
    <img src="../../../assets/signo-de-libra.png" alt="">
    <img src="../../../assets/simbolo-de-signo-del-zodiaco-acuario.png" alt="">
    <img src="../../../assets/simbolo-de-signo-del-zodiaco-geminis.png" alt="">
    <img src="../../../assets/simbolo-de-signo-del-zodiaco-cancer.png" alt="">
    <img src="../../../assets/signo-de-flecha-de-sagitario.png" alt="">
    <img src="../../../assets/signo-astrologico-de-escorpion.png" alt="">
    <img src="../../../assets/signo-astrologico-de-piscis.png" alt="">
</div>