<div class="container">
    
    <div>
        <h1 class="text">
            Astrología Saturnina
        </h1>
    </div>  
    <img src="../../../assets/signo-de-simbolo-astrologico-de-virgo.png" alt="simbolo de virgo" >
    <img src="../../../assets/simbolo-de-signo-astrologico-de-tauro.png" alt="simbolo de tauro">
    <img src="../../../assets/signo-de-leo.png" alt="simbolo de leo">
    <img src="../../../assets/signo-de-aries.png" alt="simbolo de aries">
    <img src="../../../assets/signo-de-capricornio.png" alt="simbolo de capricornio">
    <img src="../../../assets/signo-de-libra.png" alt="simbolo de libra">
    <img src="../../../assets/simbolo-de-signo-del-zodiaco-acuario.png" alt="simbolo de acuario">
    <img src="../../../assets/simbolo-de-signo-del-zodiaco-geminis.png" alt="simbolo de geminis">
    <img src="../../../assets/simbolo-de-signo-del-zodiaco-cancer.png" alt="simbolode cancer">
    <img src="../../../assets/signo-de-flecha-de-sagitario.png" alt="simbolo de sagitario">
    <img src="../../../assets/signo-astrologico-de-escorpion.png" alt="simbolo de escorpio">
    <img src="../../../assets/signo-astrologico-de-piscis.png" alt="simbolo de piscis">
</div>