.example-spacer {
    flex: 1 1 auto;
  }
  .nabvar{
    
    background: linear-gradient(rgba(229, 217, 238, 0.808),rgba(153, 59, 197, 0.2));
    
}
  .button{
    color:rgb(255, 255, 255)
  }
  img{
    padding: 5px;
  }
  h1{
    text-align: center;
    
  }