.example-spacer {
    flex: 1 1 auto;
  }
  .nabvar{
    background: linear-gradient(rgba(145, 75, 167, 0.6),rgba(153, 59, 197, 0.2));
    opacity: 0.9;
}

  .example-icon{
    background-color: rgb(13, 13, 14);
    color: rgb(255, 255, 255);
    
  }
  a{
    color: rgb(255, 255, 255);
  }
