<mat-toolbar class="nabvar">
  <button mat-button class="example-icon" [matMenuTriggerFor]="menu">Contacto</button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item>
    <a href="https://api.whatsapp.com/send?phone=1164115327" target="_blank">
    <img src="../../../assets/whatsapp-fill.svg">
    </a>
 </button>
  <button mat-menu-item>
    <a href="https://www.istagram.com/astrologia.saturnina"target="_blank">
      <img src="../../../assets/instagram-line.svg">
    </a> 
  </button>
  </mat-menu>
  <img src="../../../assets/virgo (1).png" alt="">
  <img src="../../../assets/simbolo-de-signo-astrologico-de-tauro (1).png" alt="">
  <img src="../../../assets/signo-de-leo.png" alt="">
  <img src="../../../assets/signo-de-aries.png" alt="">
  <img src="../../../assets/signo-de-capricornio.png" alt="">
  <img src="../../../assets/signo-de-libra.png" alt="">
  <img src="../../../assets/simbolo-de-signo-del-zodiaco-acuario.png" alt="">
  <img src="../../../assets/simbolo-de-signo-del-zodiaco-geminis.png" alt="">
  <img src="../../../assets/simbolo-de-signo-del-zodiaco-cancer.png" alt="">
  <img src="../../../assets/signo-de-flecha-de-sagitario.png" alt="">
  <img src="../../../assets/signo-astrologico-de-escorpion.png" alt="">
  <img src="../../../assets/signo-astrologico-de-piscis.png" alt="">

  <span class="example-spacer"></span>
  <div class="button">
  <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
    <a routerLink="/informacion">Información</a>
    
  </button>
  </div>
</mat-toolbar>
