<mat-toolbar class="nabvar">
  <button mat-button class="example-icon" [matMenuTriggerFor]="menu">Contacto</button>
  <mat-menu #menu="matMenu" class="menu">
  <button class="boton-wp"mat-menu-item>
    <a class="escritorio" href="https://api.whatsapp.com/send?phone=1156392380" target="_blank">

    <img src="../../../assets/whatsapp-fill.svg">
    </a>
    <a class="celular" href="https://api.whatsapp.com/send?phone=+5491156392380" target="_blank">

    <img src="../../../assets/whatsapp-fill.svg">
    </a>
 </button>
  <button mat-menu-item>
    <a href="https://www.instagram.com/astrologia.saturnina"target="_blank">
      <img src="../../../assets/instagram-line.svg">
    </a>
  </button>
  </mat-menu>
  <span class="example-spacer"></span>

  <app-autorizado class="flex">
    <ng-container autorizado>
      <a
        
        >Bienvenida</a
      >
      <button mat-button class="example-icon" (click)="abrirDialogo()" >Crear carta</button>
    </ng-container>
    <ng-container noAutorizado>
      <button type="" mat-button class="example-icon" *ngIf="!token" (click)="openDialog()">Login (administrador)</button>
    </ng-container>
  </app-autorizado>
  
  
</mat-toolbar>



