<form [formGroup]="forms" (ngSubmit)="enviarDatos()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre y Apellido</mat-label>
    <input
      matInput
      class="form-control"
      value="name"
      formControlName="name"
      required
    />
  </mat-form-field>
  
  <!-- <mat-form-field appearance="fill">
    <mat-label>Seleccionar Precio </mat-label>
    <mat-select class="form-control" required>
      <mat-option [value]="precio">${{ precio }}</mat-option>
    </mat-select>
  </mat-form-field> -->


  <mat-form-field appearance="fill">
    <mat-label>Seleccionar Precio </mat-label>
    <mat-select class="form-control" required>
      <mat-option>3000</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" value="date">
    <mat-label>fecha de nacimiento</mat-label>
    <input matInput type="date" formControlName="date" class="form-control" />
  </mat-form-field>
  <mat-form-field appearance="fill" value="time">
    <mat-label>Hora de nacimiento</mat-label>
    <input matInput type="time" formControlName="time" class="form-control" />
  </mat-form-field>
  <mat-form-field appearance="fill" value="comment">
    <mat-label>comentario(opcional)</mat-label>
    <textarea
      matInput
      formControlName="comment"
      class="form-control"
    ></textarea>
  </mat-form-field>
  <div>
    <button mat-button color="primary" type="submit" [disabled]="forms.invalid">
      Enviar
    </button>
  </div>
</form>
